@import url(https://fonts.googleapis.com/css?family=Poppins:regular&display=swap);

@charset "UTF-8";

.logo {
  display: block;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

a,
button {
  white-space: nowrap;
}

.btn {
  padding: 0.5625rem 0.625rem 0.8125rem 2.625rem;
  position: relative;
  letter-spacing: 0.025rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.875rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  text-align: center;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 0 0.625rem 0.4375rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 0.625rem 0.4375rem rgba(255, 255, 255, 0.3);
}

.btn:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0.3125rem 0.4375rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 0.3125rem 0.4375rem rgba(255, 255, 255, 0.3);
}

.btn::before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 0.25rem;
  top: 0.25rem;
  background: url("../img/btn.svg") center/cover no-repeat;
}

.hv {
  position: relative;
}

.hv::before,
.hv::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  background-color: rgb(241, 72, 72);
  width: 0;
  height: 0.0938rem;
  z-index: -1;
}

.hv::before {
  left: 0;
  bottom: -0.3125rem;
}

.hv::after {
  right: 0;
  bottom: -0.625rem;
}

.hv:hover {
  color: rgb(108, 171, 243);
}

.hv:hover::before,
.hv:hover::after {
  width: 100%;
}

.link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.link:hover {
  color: rgb(108, 171, 243);
  border-bottom: 0.0625rem solid rgb(241, 72, 72);
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}

.items__item {
  font-size: 0.75rem;
  line-height: 1;
  color: #fff;
  padding: 0.3125rem 0 0.3125rem 1.375rem;
  background-position: left bottom;
  background-size: inherit;
  background-repeat: no-repeat;
}

.items__item:nth-child(1) {
  background-image: url("../img/items/1.svg");
}

.items__item:nth-child(2) {
  background-image: url("../img/items/2.svg");
}

.items__item:nth-child(3) {
  background-image: url("../img/items/3.svg");
  padding-left: 2.375rem;
}

.items__item:nth-child(4) {
  background-image: url("../img/items/4.svg");
  padding-left: 1rem;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  background-color: #000;
  color: #c0c0c0;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
  line-height: 1.42;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.title {
  line-height: 1.05;
  color: #fff;
}

@supports (font-size: clamp( 1.75rem , 1.4803370787rem  +  1.3483146067vw , 2.5rem )) {
  .title {
    font-size: clamp( 1.75rem , 1.4803370787rem  +  1.3483146067vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.4803370787rem  +  1.3483146067vw , 2.5rem )) {
  .title {
    font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 55.625);
  }
}

.subtitle {
  line-height: 1.25;
  color: #c0c0c0;
  display: block;
}

@supports (font-size: clamp( 1.25rem , 1.1601123596rem  +  0.4494382022vw , 1.5rem )) {
  .subtitle {
    font-size: clamp( 1.25rem , 1.1601123596rem  +  0.4494382022vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1601123596rem  +  0.4494382022vw , 1.5rem )) {
  .subtitle {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 55.625);
  }
}

.block-decor {
  background: center/cover no-repeat;
  position: relative;
}

@supports (min-height: clamp( 21.875rem , 16.2570224719rem  +  28.0898876404vw , 37.5rem )) {
  .block-decor {
    min-height: clamp( 21.875rem , 16.2570224719rem  +  28.0898876404vw , 37.5rem );
  }
}

@supports not (min-height: clamp( 21.875rem , 16.2570224719rem  +  28.0898876404vw , 37.5rem )) {
  .block-decor {
    min-height: calc(21.875rem + 15.625 * (100vw - 20rem) / 55.625);
  }
}

.no-webp .block-decor_mountain{
  background-image: url("../img/bountain-bg.jpg"); }

.no-webp .block-decor_jungles{
  background-image: url("../img/jungles-bg.jpg"); }

.block-decor_jungles {
  background-size: cover;
}

.no-webp .block-decor_starfall{
  background-image: url("../img/starfall-bg.jpg"); }

.block-decor_starfall {
  background-position: bottom center;
}

.block-decor__content {
  max-width: 18.75rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0rem, -50%);
      -ms-transform: translate(0rem, -50%);
          transform: translate(0rem, -50%);
}

@supports (right: clamp( 0.625rem , -0.4985955056rem  +  5.6179775281vw , 3.75rem )) {
  .block-decor__content {
    right: clamp( 0.625rem , -0.4985955056rem  +  5.6179775281vw , 3.75rem );
  }
}

@supports not (right: clamp( 0.625rem , -0.4985955056rem  +  5.6179775281vw , 3.75rem )) {
  .block-decor__content {
    right: calc(0.625rem + 3.125 * (100vw - 20rem) / 55.625);
  }
}

.header {
  padding: 1.5rem 0;
  z-index: 999;
  position: relative;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , -1.8194444444rem  +  5.0925925926vw , 2rem )) {
  .header__box {
    gap: clamp( 0.625rem , -1.8194444444rem  +  5.0925925926vw , 2rem );
  }
}

@supports not (gap: clamp( 0.625rem , -1.8194444444rem  +  5.0925925926vw , 2rem )) {
  .header__box {
    gap: calc(0.625rem + 1.375 * (100vw - 48rem) / 27);
  }
}

.header__logo {
  z-index: 5;
  position: relative;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , -1.8194444444rem  +  5.0925925926vw , 2rem )) {
  .header__menu {
    gap: clamp( 0.625rem , -1.8194444444rem  +  5.0925925926vw , 2rem );
  }
}

@supports not (gap: clamp( 0.625rem , -1.8194444444rem  +  5.0925925926vw , 2rem )) {
  .header__menu {
    gap: calc(0.625rem + 1.375 * (100vw - 48rem) / 27);
  }
}

.header__menu-item {
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.header__menu-link {
  font-size: 0.9375rem;
  line-height: 1.33;
  color: #fff;
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__btn {
  padding: 0.5625rem 1.25rem 0.8125rem;
}

.header__btn::before {
  display: none;
}

.icon-menu {
  display: none;
}

.no-webp .hero{
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18.78%, #000000), color-stop(98.53%, rgba(0, 0, 0, 0))), url("../img/hero-bg.jpg") center/cover no-repeat; }

.no-webp .hero{
  background: -o-linear-gradient(bottom, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url("../img/hero-bg.jpg") center/cover no-repeat; }

.no-webp .hero{
  background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url("../img/hero-bg.jpg") center/cover no-repeat; }

.hero {
  text-align: center;
  position: relative;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 5.625rem);
  padding-bottom: 4.375rem;
}

.hero__subtitle {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #c0c0c0;
  margin-bottom: 0.0625rem;
}

.hero__title {
  line-height: 1;
  margin-bottom: 1.125rem;
}

@supports (font-size: clamp( 2.375rem , 2.0154494382rem  +  1.797752809vw , 3.375rem )) {
  .hero__title {
    font-size: clamp( 2.375rem , 2.0154494382rem  +  1.797752809vw , 3.375rem );
  }
}

@supports not (font-size: clamp( 2.375rem , 2.0154494382rem  +  1.797752809vw , 3.375rem )) {
  .hero__title {
    font-size: calc(2.375rem + 1 * (100vw - 20rem) / 55.625);
  }
}

.hero__text {
  max-width: 37.5rem;
  color: #c0c0c0;
}

@supports (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
  .about {
    padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
  .about {
    padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .about {
    padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .about {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 55.625);
  }
}

.about__title {
  margin-bottom: 0.9375rem;
  text-align: center;
}

.about__subtitle {
  text-align: center;
  margin-bottom: 2.625rem;
}

.about__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__card {
  position: relative;
  width: 100%;
}

.about__card-img {
  width: 100%;
  height: 100%;
  max-height: 37.5rem;
  min-height: 21.875rem;
}

.about__card-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 1.875rem;
}

.about__card-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tools__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.tools__content {
  padding: 3.75rem 2.875rem 3.75rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1rem;
}

.tools__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tools__column {
  position: relative;
}

.tools__column-img {
  width: 100%;
  height: 100%;
}

.clients {
  text-align: center;
}

@supports (padding-top: clamp( 2.5rem , 0.8595505618rem  +  8.202247191vw , 7.0625rem )) {
  .clients {
    padding-top: clamp( 2.5rem , 0.8595505618rem  +  8.202247191vw , 7.0625rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.8595505618rem  +  8.202247191vw , 7.0625rem )) {
  .clients {
    padding-top: calc(2.5rem + 4.5625 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .clients {
    padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .clients {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 55.625);
  }
}

.clients__title {
  margin-bottom: 0.9375rem;
}

.clients__subtitle {
  margin-bottom: 2.5rem;
}

.clients__list {
  padding: 2.5rem 0;
  grid-gap: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (padding-top: clamp( 2.5rem , 0.8595505618rem  +  8.202247191vw , 7.0625rem )) {
  .contact {
    padding-top: clamp( 2.5rem , 0.8595505618rem  +  8.202247191vw , 7.0625rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.8595505618rem  +  8.202247191vw , 7.0625rem )) {
  .contact {
    padding-top: calc(2.5rem + 4.5625 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .contact {
    padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .contact {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 55.625);
  }
}

.contact__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.9375rem;
  justify-items: center;
  text-align: center;
}

.contact__title {
  max-width: 35.625rem;
}

@supports (padding-top: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .footer {
    padding-top: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .footer {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 55.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .footer {
    padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1516853933rem  +  6.7415730337vw , 6.25rem )) {
  .footer {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 55.625);
  }
}

.footer__top {
  padding-bottom: 2.375rem;
  border-bottom: 0.125rem solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-gap: 1rem;
}

.footer__top-column:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__logo {
  margin-bottom: 1.25rem;
}

.footer__top-text {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #c0c0c0;
}

.footer__top-heading {
  display: block;
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.42;
  color: #c0c0c0;
}

.footer__top-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.625rem;
}

.footer__middle {
  padding-top: 2.25rem;
  padding-bottom: 2.375rem;
  border-bottom: 0.125rem solid #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(auto, 28.625rem);
  grid-template-columns: 1fr minmax(auto, 28.625rem);
  grid-gap: 1rem;
}

.footer__middle-heading {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  display: block;
}

.footer__middle-text {
  font-size: 0.8125rem;
  line-height: 1.53;
  color: #c0c0c0;
}

.footer__middle-form-box {
  position: relative;
}

.footer__middle-input {
  background: #f9fafb;
  border: 0.0625rem solid #e5e7eb;
  border-radius: 0.75rem;
  padding: 0.9063rem 0.625rem;
  width: 100%;
}

.footer__middle-button {
  position: absolute;
  right: 0.375rem;
  top: 50%;
  -webkit-transform: translate(0rem, -50%);
      -ms-transform: translate(0rem, -50%);
          transform: translate(0rem, -50%);
  background-color: #000;
  border-radius: 0.6875rem;
  width: 3.9375rem;
  height: 1.875rem;
  z-index: 1;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.footer__middle-button:hover {
  background-color: rgb(160, 105, 3);
}

.footer__middle-button:active {
  background-color: rgb(47, 160, 3);
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (padding-top: clamp( 3.4375rem , 3.4150280899rem  +  0.1123595506vw , 3.5rem )) {
  .footer__bottom {
    padding-top: clamp( 3.4375rem , 3.4150280899rem  +  0.1123595506vw , 3.5rem );
  }
}

@supports not (padding-top: clamp( 3.4375rem , 3.4150280899rem  +  0.1123595506vw , 3.5rem )) {
  .footer__bottom {
    padding-top: calc(3.4375rem + 0.0625 * (100vw - 20rem) / 55.625);
  }
}

.footer__bottom-text {
  font-size: 0.875rem;
  line-height: 1.42;
  /* 1.25rem/14 */
}

.footer__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1.25rem;
}

.footer__bottom-link {
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer__bottom-link:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 48em) {
  .header__box {
    gap: inherit;
  }

  .header__menu {
    gap: inherit;
  }
}

@media (max-width: 61.99875em) {
  .about__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tools__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tools__column-img {
    max-height: 33.75rem;
  }

  .clients__list {
    grid-gap: 3.125rem;
  }

  .footer__middle {
    -ms-grid-columns: 1fr minmax(auto, 25rem);
    grid-template-columns: 1fr minmax(auto, 25rem);
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding-bottom: 0.9375rem;
  }

  .header__nav::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4.375rem;
    background-color: rgb(58, 150, 255);
    top: 0;
    left: -200%;
    -webkit-transition: left 0.4s ease 0.1s;
    -o-transition: left 0.4s ease 0.1s;
    transition: left 0.4s ease 0.1s;
  }

  .menu-open .header__nav::before {
    left: 0;
  }

  .header__box {
    -webkit-transition: all 0.7s ease 0.4s;
    -o-transition: all 0.7s ease 0.4s;
    transition: all 0.7s ease 0.4s;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -100%;
    top: 4.0625rem;
    padding-top: 1.5625rem;
    padding-bottom: 5rem;
    width: 100%;
    text-align: center;
    background-color: rgb(136, 49, 49);
  }

  .menu-open .header__box {
    left: 0;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .header__menu-item:nth-child(1) {
    -webkit-transition-delay: 0.8s;
         -o-transition-delay: 0.8s;
            transition-delay: 0.8s;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
  }

  .header__menu-item:nth-child(2) {
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
  }

  .header__menu-item:nth-child(3) {
    -webkit-transition-delay: 1.2s;
         -o-transition-delay: 1.2s;
            transition-delay: 1.2s;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
  }

  .header__menu-item:nth-child(4) {
    -webkit-transition-delay: 1.4s;
         -o-transition-delay: 1.4s;
            transition-delay: 1.4s;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
  }

  .menu-open .header__menu-item {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .header__menu-link {
    padding: 0.625rem;
    font-size: 1.5rem;
  }

  .header__btn {
    position: absolute;
    bottom: -300vh;
    -webkit-transition: all 0.3s ease 1.6s;
    -o-transition: all 0.3s ease 1.6s;
    transition: all 0.3s ease 1.6s;
    opacity: 0;
    z-index: -2;
    font-size: 1.5rem;
  }

  .menu-open .header__btn {
    bottom: 0.9375rem;
    opacity: 1;
    z-index: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .hero__content {
    min-height: calc(100vh - 4.375rem);
  }

  .footer__top {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5625rem;
  }

  .footer__top-column:nth-child(2) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 1.5625rem;
  }

  .footer__middle {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__middle-form {
    max-width: 28.625rem;
  }

  .footer__bottom {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 35.49875em) {
  .tools__content {
    padding: 2.5rem 1.625rem 2.5rem 1.25rem;
  }

  .clients__list {
    padding: 0.625rem 0;
  }
}

@media (max-width: 30.625rem) {
  .items {
    right: 1.25rem;
    bottom: 1.25rem;
  }
}

.webp .block-decor_mountain{ background-image: url(../img/bountain-bg.webp); }

.webp .block-decor_jungles{ background-image: url(../img/jungles-bg.webp); }

.webp .block-decor_starfall{ background-image: url(../img/starfall-bg.webp); }

.webp .hero{ background: -webkit-gradient(linear, left bottom, left top, color-stop(18.78%, #000000), color-stop(98.53%, rgba(0, 0, 0, 0))), url(../img/hero-bg.webp) center/cover no-repeat; }

.webp .hero{ background: -o-linear-gradient(bottom, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url(../img/hero-bg.webp) center/cover no-repeat; }

.webp .hero{ background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url(../img/hero-bg.webp) center/cover no-repeat; }